.webinar{
  height: 309px;
  max-width: 1440px;
  margin: 0 auto;
  background: $bg-banner;
  color: $color-dark;
  .breadcrumb{
    &-item{
      font-family: $secondary-font;      
      font-size: 14px;
      a{
        color: $color-grey;
      }
      &.active{
        color: $color-primary;
      }    
    }
  }

  &-body{}

  &-header{
    h2{
      font-size: 2.5rem;
      font-weight: 500;
      letter-spacing: 0.1px;
      color: $color-primary;
    }
    a{
      background-color: $color-primary;
      &:hover{
        background-color: $color-primary;
      }
    }
  }

  .date-card{
    height: 553px;
    @media(max-width: 1200px) {
      height: auto;    
    }    
    .imageContainer{ 
      width: 784.83px;
      height: 100%;
      img{
        width: 100%;
        height: 100%;        
      }      
      @media (max-width: 575.98px) {
        width: 100%;
        height: 40%;        
      }
      @media (min-width: 576px) and (max-width: 1200px) {
        width: 80%;
        height: 80%;
        margin: 0 auto;
      }
      
    }
    .webinar-details{ 
      width: 554px;
      height: 100%;
      background-color: $color-white;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      .webinar-title{
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 25px;
        letter-spacing: 0.1px;
        @media (max-width: 575.98px) {
          font-size: 1rem;
          line-height: 20px;
        }
      }
      .webinar__date{
        i{
          color: $color-secondary;
          font-size: 2.8rem;
          @media (max-width: 575.98px) {
            font-size: 2.5rem;            
          }
        }
        div{
          p{
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 56px;
            letter-spacing: 0.1px;
            color: $color-primary;
            @media (max-width: 575.98px) {
              font-size: 1.7rem;
              line-height: 40px;
            }
          }
          span{
            font-size: 1.25rem;
            font-weight: 600;        
            line-height: 28px;
            color: $color-secondary;
          }
        }
      }
      .webinar__speaker{
        font-size: 1.125rem;
        line-height: 25.2px;
        letter-spacing: 0.1px;
        @media (max-width: 575.98px) {
          font-size: 1rem;
          line-height: 20px;
        }
        p{
          font-weight: 700;          
        }
        a{
          text-decoration: underline;
          color: $color-dark;
          font-weight: 400;
        }
      }
      .wide-button{
        .btn{
          height: 60px;       
          font-weight: 700;
          line-height: 22px;   
          font-size: 1rem;
          padding-top: 20px;
          background-color: $color-secondary;
          @media (max-width: 575.98px) {
            font-size: .8rem;
            line-height: 20px;
          }
        }
      }
      .intelligent-buttons{
        .btn{
          background-color: $color-secondary;
        }
      }
      @media (max-width: 575.98px) {
        width: 100%;
        height: auto;
      }
      @media (min-width: 576px) and (max-width: 1200px) {
        width: 80%;
        height: auto;
        margin: 0 auto;
      }
    }
  }
  
  &-detail{
    width: 910px;
    margin: 0 auto;    
    letter-spacing: 0.1px; 
    font-weight: 600;
    @media (max-width: 1200px) {
      width: 100%;        
    }
    &__title{
      font-weight: 500;
      font-size: 3.125rem;
      line-height: 70px;
      color: $color-primary;
      @media (max-width: 1200px) {
        font-size: 1.8rem;
        line-height: 35px;        
      }
    }
    &__desc{
      font-size: 1.25rem;
      line-height: 28px;   
      @media (max-width: 1200px) {
        font-size: 1rem;
        line-height: 25px;        
      }        
    }
    &__sub-desc{
      font-size: 1rem;
      line-height: 22px;
      @media (max-width: 1200px) {
        font-size: .8rem;
        line-height: 15px;        
      } 
    }
    .speakers-detail{
      p{
        font-weight: 500;
        font-size: 1.875rem;
        line-height: 42px;
        color: $color-primary;
      }
      .card{
        width: 208.73px;
        @media (max-width: 426px) {         
          margin: 0 auto;          
          padding-bottom: 10px;
        }
        @media (max-width: 1024px) {         
          margin: 0 auto;
          padding-bottom: 10px;
        }
        img{
          width: 100%;
          height: 163.13px;
        }
        &-body{
          background-color: $color-light;
          h5{
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 24px;
            letter-spacing: 0.1px;   
            color: $color-primary;         
          }
          p{
            font-size: 1rem;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 0.1px;
            padding: 2px 0;
            color: $color-dark;
            @media (max-width: 1200px) {
              padding: 0px 0px;        
            } 
          }
          a{
            text-decoration: underline;
            color: $color-dark;
          }
        }
      }


    }    
  }

  .agenda{
    &-session{
      width: 792px;
      // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      letter-spacing: 0.1px;
      background-color: $color-light;
      @media (min-width:426px) and (max-width:1440px){
        width: 50%;
      }
      .table>:not(caption)>*>* {
        padding: 0;
      }
      .table{
        thead{
          tr{
            th{      
              font-weight: 600;                
              font-size: 1.25rem;
              line-height: 28px;  
            }
          }
        }
        tbody{
          tr{
            h5{
              font-weight: 600;
              font-size: 1.125rem;
              line-height: 28px;
              margin-top: 12px;
              @media (max-width:1024px){
                font-size: 1.1rem;
                line-height: 28px;
              } 
            }
            p{
              font-weight: 600;
              @media (max-width:1024px){
                font-size: .8rem;
                line-height: 20px;
              } 
            }
            a{
              font-size: 1rem;
              font-weight: 600;
              text-decoration: underline;
              color: $color-dark;
              @media (max-width:1024px){
                font-size: .8rem;
                line-height: 20px;
              } 
            }
          }
        }
      }
    }
    &-header{
      p,i{        
        font-size: 1.875rem;
        line-height: 42px;        
        color: $color-primary;
      }
    }
    
    &-downloads{
      // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      width: calc(1440px - 950px);
      height: auto !important;
      background-color: $color-light;
      @media (min-width:426px) and (max-width:1440px){
        width: 45%;
      }
      a{
        display: block;
        color: $color-dark;
        text-decoration: underline;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.1px;
        @media (max-width:1024px){
          font-size: .9rem;
          line-height: 25px;

        } 
      }
      a:last-child{
        padding-bottom: 100px;
      }
    }
  } 
  .all-webinar-btn{    
    .btn{        
      height: 60px;  
      font-weight: 700;
      line-height: 22px;   
      font-size: 1rem;
      padding-top: 20px;
      @media (max-width: 768px) {
        width: 50% !important;
        font-size: .8rem;
        line-height: 20px;
      }
    }
  }
}