@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
// fonts
$primary-font: 'Readex Pro', sans-serif;
$secondary-font: "Roboto", sans-serif;

//color
$color-primary: #F8171F;
$color-secondary: #282520;
$color-grey: #7B809A;
$color-white: #ffffff;
$color-black: #000000;

//background
$bg-banner: #ECEAE5;
$bg-white: #ffffff;

// shadow
